# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\research\project\CFineNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
